.products-page {
  padding: 40px;
  background: linear-gradient(135deg, #d6fff0 0%, #25b847 100%);
  min-height: 100vh;
}

.products-title {
  text-align: center;
  color: #0f7635;
  margin-bottom: 15px;
}

.add-btn {
  display: block;
  margin: 0 auto 25px;
  padding: 12px 26px; 
  background: linear-gradient(135deg, #2dd4aa, #0f762e);
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px; 
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(15, 118, 110, 0.3);
}


.page-message {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #047812;
}

.products-card {
  background: white;
  border-radius: 16px; 
  padding: 25px; 
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px; 
}

.product-item {
  background: #d3ffd4;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.product-item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 25px rgba(15, 118, 110, 0.3);
  background: #b5ffb0;
}

.product-img {
  width: 100%;
  height: 170px; 
  object-fit: contain;
  margin-bottom: 8px;
}

.product-item h2 {
  color: #065f46;
  font-size: 1rem; 
}

.desc {
  font-size: 0.85rem; 
  color: #064e3b;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-weight: bold;
  color: #065f46;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.quantity-controls button {
  background: #0d9462;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 3px 8px; 
  cursor: pointer;
}

.quantity-controls span {
  min-width: 18px;
  text-align: center;
  font-weight: bold;
  color: #065f46;
}

.add-cart {
  width: 100%;
  background: #05965e;
  color: white;
  border: none;
  border-radius: 10px; 
  padding: 6px; 
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-cart:hover {
  background: #047857;
}


.bottom-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.bottom-buttons button {
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 14px;
  background: linear-gradient(135deg, hsl(163, 100%, 29%), #008d36);
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 220px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}


.bottom-buttons button:hover {
  background: linear-gradient(135deg, #1fa845, #08591c);
}


@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  .product-img {
    height: 190px;
  }
}
